<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Image Search Abstraction Layer</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Image Search Abstraction Layer
      </h1>
    </header>

    <main>
      <h3 class="bold">Example usage:</h3>
      <p>
        https://mulberry-brother.glitch.me/imagesearch/lolcats%20funny?offset=2
      </p>
      <p>
        https://mulberry-brother.glitch.me/latest
      </p>
      <h3 class="bold">Example output:</h3>
      <p>
        [{<br>
          "url":"https://img.scoop.it/f-tKCNgJWPoGzbrK5LCQhTl72eJkfbmt4t8yenImKBVvK0kTmF0xjctABnaLJIm9",<br>
          "snippet":"Lolcats: Ohai hooman - Lolcats - Funny Pictures...",<br>
          "thumbnail":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnKqxoHtHn8b0dYvy4VKUKWZ3obuPs3O2agntOwGzNscV-mJghnsMEQgE",<br>
          "context":"http://www.scoop.it/t/pictures/p/1665736655/lolcats-ohai-hooman-lolcats-funny-pictures-of-cats-i-can-has"<br>
        },{<br>
          "url":"http://i0.kym-cdn.com/photos/images/newsfeed/000/010/014/lolcats-funny-pictures-leroy-jenkins.jpg",<br>
          "snippet":"Image - 10014] | LOLcats | Know Your Meme",<br>
          "thumbnail":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSX-vJ6IUBomImDMpUeOIHrBMwbi6f0fbK4KXP6HnFVV8CybuSi-n6Ofyo",<br>
          "context":"http://knowyourmeme.com/photos/10014-lolcats"<br>
        }]
      </p>
      <p>
        [{<br>
          "term":"lolcats funny",<br>
          "when":"2017-12-13T22:39:58.962Z"<br>
        },{<br>
          "term":"lolcats funny",<br>
          "when":"2017-12-13T21:36:26.508Z"<br>
        },{<br>
          "term":"lolcats funny",<br>
          "when":"2017-12-13T21:36:05.250Z"<br>
        },{<br>
          "term":"lolcats funny",<br>
          "when":"2017-12-13T21:28:06.461Z"<br>
        },{<br>
          "term":"lolcats funny",<br>
          "when":"2017-12-13T18:06:33.435Z"<br>
        },{<br>
          "term":"lolcats funny",<br>
          "when":"2017-12-13T18:03:04.303Z"<br>
        },{<br>
          "term":"lolcats funny",<br>
          "when":"2017-12-13T17:21:26.519Z"<br>
        },{<br>
          "term":"lolcats funny",<br>
          "when":"2017-12-13T17:04:39.177Z"<br>
        },{<br>
          "term":"lolcats funny",<br>
          "when":"2017-12-13T16:23:59.434Z"<br>
        },{<br>
          "term":"lolcats funny",<br>
          "when":"2017-12-13T13:19:49.828Z"<br>
        }]
      </p>
    </main>
  </body>
</html>